.Add_patient_section {
  background-image: url("../../../public/images/Home/OIP5.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20%;
}

.Container {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.Modelslabel {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  /* font-size: larger; */
  /* font-style: italic; */
}

.modelsInput {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: small;
}


.Patientform {
  width: 76.5%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-left: 10%;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.Section_name {
  font-size: 25px;
  background-color: #808080;
  height: 40px;
  width: 100%;
  padding-top: 15px;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}

.Patientlabel {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.Patientinput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.Patientsubmit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 45%;
}

.Patientsubmit:hover {
  background-color: #0056b3;
}

.readonly {
  font-weight: bolder;
  color: black;
  font-display: inherit;
  /* Reset font weight for read-only inputs */
}